sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .layer { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	border-style: none;
	height: 129.3333em;
	width: 98em;
	margin: 0em;
	line-height: 0.0em;
	font-size: 1em;
	display: block;
}
.stl_02 {
	position: relative;
}
.stl_03 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_04 {
	position: relative;
	width: 98em;
}
.stl_05 {
	height: 12.93333em;
}
.ie .stl_05 {
	height: 129.3333em;
}
@font-face {
	font-family:"SBRMCO+Bebas";
	src:url("http://35.240.140.159/images/201811/d67cd7dd-0000-0000-0000-000000000000.woff");
}
.stl_06 {
	color: #FFFFFF;
	font-size: 8.529616em;
	font-family: "SBRMCO+Bebas";
}
.stl_07 {
	line-height: 1.321289em;
}
.stl_08 {
	letter-spacing: 0.0001em;
}

.ie .stl_08 {
	letter-spacing: 0.0195px;
}
.stl_09 {
	color: #FFFFFF;
	font-size: 4.036992em;
	font-family: "SBRMCO+Bebas";
}
.stl_10 {
	letter-spacing: 0em;
}

.ie .stl_10 {
	letter-spacing: -0.0016px;
}
.stl_11 {
	letter-spacing: 0.0002em;
}

.ie .stl_11 {
	letter-spacing: 0.0144px;
}
.stl_12 {
	color: #FFFFFF;
	font-size: 16.70884em;
	font-family: "SBRMCO+Bebas";
}
@font-face {
	font-family:"TNEOUV+HelveticaNeueLTStd-Hv";
	src:url("http://35.240.140.159/images/201811/447640dd-0000-0000-0000-000000000000.woff");
}
.stl_13 {
	color: #FFFFFF;
	font-size: 3.325em;
	font-family: "TNEOUV+HelveticaNeueLTStd-Hv";
}
.stl_14 {
	line-height: 1.185em;
}
@font-face {
	font-family:"WSRRJK+HelveticaNeueLTStd-ThEx";
	src:url("http://35.240.140.159/images/201811/95112547-0000-0000-0000-000000000000.woff");
}
.stl_15 {
	color: #FFFFFF;
	font-size: 3.325em;
	font-family: "WSRRJK+HelveticaNeueLTStd-ThEx";
}
.stl_16 {
	line-height: 1.17em;
}
.stl_17 {
	color: #FFFFFF;
	font-size: 4.247583em;
	font-family: "SBRMCO+Bebas";
}
@font-face {
	font-family:"SWPCNR+MyriadPro-BoldCond";
	src:url("http://35.240.140.159/images/201811/1772d789-0000-0000-0000-000000000000.woff");
}
.stl_18 {
	color: #FFFFFF;
	font-size: 3em;
	font-family: "SWPCNR+MyriadPro-BoldCond";
}
.stl_19 {
	line-height: 1.208em;
}
@font-face {
	font-family:"RQPAFJ+MyriadPro-Regular";
	src:url("http://35.240.140.159/images/201811/c5851deb-0000-0000-0000-000000000000.woff");
}
.stl_20 {
	color: #58595B;
	font-size: 1.833333em;
	font-family: "RQPAFJ+MyriadPro-Regular";
}
.stl_21 {
	line-height: 1.202em;
}
@font-face {
	font-family:"VDGNHE+MyriadPro-It";
	src:url("http://35.240.140.159/images/201811/d0d8b7c5-0000-0000-0000-000000000000.woff");
}
.stl_22 {
	color: #58595B;
	font-size: 1.833333em;
	font-family: "VDGNHE+MyriadPro-It";
}
.stl_23 {
	line-height: 1.203em;
}
@font-face {
	font-family:"TFILVR+HelveticaNeue-CondensedBlack";
	src:url("http://35.240.140.159/images/201811/7c27b599-0001-0000-0000-000000000000.woff");
}
.stl_24 {
	color: #746DA3;
	font-size: 1.514808em;
	font-family: "TFILVR+HelveticaNeue-CondensedBlack";
}
.stl_25 {
	line-height: 1.199em;
}
.stl_26 {
	letter-spacing: 0.0078em;
}

.ie .stl_26 {
	letter-spacing: 0.1887px;
}
@font-face {
	font-family:"UDJNSI+HelveticaNeue";
	src:url("http://35.240.140.159/images/201811/da1b5b54-0000-0000-0000-000000000000.woff");
}
.stl_27 {
	color: #FFFFFF;
	font-size: 1.833333em;
	font-family: "UDJNSI+HelveticaNeue";
}
.stl_28 {
	line-height: 1.165em;
}
.stl_29 {
	letter-spacing: 0.0064em;
}

.ie .stl_29 {
	letter-spacing: 0.1887px;
}
.stl_30 {
	letter-spacing: 0.0084em;
}

.ie .stl_30 {
	letter-spacing: 0.2032px;
}
.stl_31 {
	color: #58595B;
	font-size: 0.8745em;
	font-family: "VDGNHE+MyriadPro-It";
}
.stl_32 {
	color: #58595B;
	font-size: 1.5em;
	font-family: "VDGNHE+MyriadPro-It";
}
@font-face {
	font-family:"KGTJOS+MyriadPro-Bold";
	src:url("http://35.240.140.159/images/201811/f1b63711-0000-0000-0000-000000000000.woff");
}
.stl_33 {
	color: #58595B;
	font-size: 1.75em;
	font-family: "KGTJOS+MyriadPro-Bold";
}
.stl_34 {
	line-height: 1.239em;
}
.stl_35 {
	letter-spacing: -0.01em;
}

.ie .stl_35 {
	letter-spacing: -0.2933px;
}
.stl_36 {
	color: #5BA5EF;
	font-size: 1.833333em;
	font-family: "RQPAFJ+MyriadPro-Regular";
}
.stl_37 {
	color: #FFFFFF;
	font-size: 5.590891em;
	font-family: "SBRMCO+Bebas";
}
.stl_38 {
	letter-spacing: -0.05em;
}

.ie .stl_38 {
	letter-spacing: -1.4667px;
}
.stl_39 {
	letter-spacing: -0.025em;
}

.ie .stl_39 {
	letter-spacing: -0.7333px;
}
.stl_40 {
	letter-spacing: -0.0459em;
}

.ie .stl_40 {
	letter-spacing: -1.3471px;
}
.stl_41 {
	letter-spacing: -0.0134em;
}

.ie .stl_41 {
	letter-spacing: -0.3945px;
}
@font-face {
	font-family:"LQLASJ+MyriadPro-Semibold";
	src:url("http://35.240.140.159/images/201811/e1c2ec3b-0000-0000-0000-000000000000.woff");
}
.stl_42 {
	color: #58595B;
	font-size: 1.5em;
	font-family: "LQLASJ+MyriadPro-Semibold";
}
.stl_43 {
	line-height: 1.222em;
}
.stl_44 {
	color: #58595B;
	font-size: 0.8745em;
	font-family: "LQLASJ+MyriadPro-Semibold";
}
.stl_45 {
	color: #58595B;
	font-size: 1.75em;
	font-family: "RQPAFJ+MyriadPro-Regular";
}
.stl_46 {
	letter-spacing: -0.023em;
}

.ie .stl_46 {
	letter-spacing: -0.644px;
}
.stl_47 {
	letter-spacing: -0.0095em;
}

.ie .stl_47 {
	letter-spacing: -0.266px;
}
.stl_48 {
	letter-spacing: -0.0153em;
}

.ie .stl_48 {
	letter-spacing: -0.428px;
}
.stl_49 {
	color: #FFFFFF;
	font-size: 5.882842em;
	font-family: "SBRMCO+Bebas";
}
.stl_50 {
	letter-spacing: -0.0266em;
}

.ie .stl_50 {
	letter-spacing: -0.7794px;
}
.stl_51 {
	letter-spacing: -0.0399em;
}

.ie .stl_51 {
	letter-spacing: -1.1697px;
}
.stl_52 {
	letter-spacing: -0.0298em;
}

.ie .stl_52 {
	letter-spacing: -0.8727px;
}
.stl_53 {
	letter-spacing: -0.0472em;
}

.ie .stl_53 {
	letter-spacing: -1.3836px;
}
.stl_54 {
	letter-spacing: -0.0221em;
}

.ie .stl_54 {
	letter-spacing: -0.6474px;
}
@font-face {
	font-family:"AFEHGH+HelveticaCE-CondBold";
	src:url("http://35.240.140.159/images/201811/f4d59b3e-0000-0000-0000-000000000000.woff");
}
.stl_55 {
	color: #FFFFFF;
	font-size: 13.84766em;
	font-family: "AFEHGH+HelveticaCE-CondBold";
}
.stl_56 {
	line-height: 1.241em;
}
@font-face {
	font-family:"PJLMUG+Helvetica-Bold";
	src:url("http://35.240.140.159/images/201811/3e86287c-0000-0000-0000-000000000000.woff");
}
.stl_57 {
	color: #FFFFFF;
	font-size: 2.115342em;
	font-family: "PJLMUG+Helvetica-Bold";
}
.stl_58 {
	line-height: 1.19em;
}
.stl_59 {
	color: #FFFFFF;
	font-size: 1.572458em;
	font-family: "PJLMUG+Helvetica-Bold";
}
